.footer{
    margin: 0;
    padding: 1.25rem 5.3vw;
    background-color: $colour-blackgrey;
    color: $colour-white;

    &__logo{
        color: $colour-white;
        margin: 0 0 1rem 0;
    }

    &__nav{
        margin: 0 0 0.5rem 0;

        &__ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }       
}

.icone_ohmyfood_footer{
    width: 110px;
    padding: 0 0 1rem 0;
}

.nav__link{
    text-decoration: none;
    padding: 0 0 0.5rem 0;

    &__a{
        text-decoration: none;
        color: $colour-white;
    }
}

.icone_fourchette{
    font-size: 0.9em;
    padding-right: 0.7em;
}

.icone_mains{
    font-size: 0.7em;
    padding-right: 0.7em;
}