.header{
    background-color: $colour-white;
    margin: 0;
    padding: 0;
    position: relative;
    
    &__logo{
        color: $colour-black;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 5.333vw 0 3.333vw 0;;
    }

/*Header des menus*/
    &-menu__link{
        text-decoration: none;
    }

    &-menu__icone_fleche{
        color: $colour-black;
        position: absolute;
        top: 32.5px;
        left: 27.5px;
        font-size: 1.3em;
    }
}