.header{
    background-color: $colour-white;
    margin: 0;
    padding: 0;
    position: relative;
    
    &__logo{
        color: $colour-black;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 5.333vw 0 3.333vw 0;;
    }

/*Header des menus*/
    &-menu__link{
        text-decoration: none;
    }

    &-menu__icone_fleche{
        color: $colour-black;
        position: absolute;
        top: 7.73vw;
        left: 7.33vw;
        font-size: 1.3em;
    }
}

@media (min-width: 681px) and (max-width: 800px) {
    .header-menu__icone_fleche{
        font-size: 1.625em;
        top: 7.33vw;
    }
}

@media (min-width: 801px) and (max-width: 1024px) {
    .header-menu__icone_fleche{
        font-size: 1.755em;
        top: 7.33vw;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .header-menu__icone_fleche{
        font-size: 1.95em;
        top: 6.9vw;
    }
}

@media (min-width: 1281px){
    .header-menu__icone_fleche{
        font-size: 2em;
        top: 6.66vw;
    }
}