.header {
    background-color: $colour-white;
    margin: 0;
    padding: 0;
    
        &__logo{
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 20px 0 12.5px 0;
        }
}
