.menu{
    background-color: $colour-grey;
    margin: -3rem 0 0 0;
    padding: 0 13px 4rem 13px;
    border-radius: 50px 50px 0 0;
    position: relative;

    &__h1{
        margin: 0;
        padding: 30px 28px 5px 5px;
    }

    &__h2{
        position: relative;
        padding: 0 0 0 7px;
        margin: 2.3rem 0 0 0;

        &::after{
            content: "";
            position: absolute;
            bottom: -7px;
            left: 7px;
            width: 40px;
            border-bottom:3px solid $colour-green;
        }
    }
}

.icone_coeur{
    &-francaise{
        padding-left: 91.6px;
    }

    &-note_enchantee{
        padding-left: 31.8px;
    }

    &-delice_sens{
        padding-left: 45.7px;
    }

    &-palette_gout{
        padding-left: 37.4px;
    }
}



/*CARTES DU MENU*/
.menu__cards{
    position: relative;
    text-decoration: none;
    color: black;
    display: flex;
    background-color: #ffffff;
    border-radius: 13px;
    box-shadow: 0 2px 8px #c3c3c3;
    margin: 1.5rem 0;
    width: calc(100% - 13px);
    overflow: hidden;
    opacity: 1;
    padding: 0 0 0 13px;

    &:hover .coche{
            animation-name: derouler;
            animation-duration: 10s;
            transition-timing-function: linear;
    }

    &:hover .coche__check{
        animation-name: tourner;
        animation-duration: 1s;
        transition-timing-function: ease-in;
    }

    &__info{
        padding-right: 28px;
        width: 100%;
        position: relative;
        padding: 12px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;

        &__h3{
            margin: 0 0 0.3rem 0;
            padding: 0 2.5rem 0 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &__div-2span{
            padding: 0 13px 0 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &__span-txt{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline-block;
                width: calc(100% - 50px);
            }

            &__span-tarif{
                padding-left: 0.9rem;
                width: 50px;
            }
        }
    }
}

.coche{
    display: flex;
    float: right;
    background-color: $colour-green;
    width: 0px; 
    height: 76px;
    justify-content: center;
    align-items: center;

    &__check{
        font-size: 1.7em;
        color: $colour-white;
    }
}

@keyframes derouler {
    0% { width: 0px; }
    10% { width: 95px; }
    100% { width: 95px; }
}

@keyframes tourner {
    from { transform: rotate(-360deg); }
}

/*Animation Menus*/

.c1{
    animation-name: apparition1; 
    animation-duration: 2s; 
    transition-timing-function: ease-in;
}

@keyframes apparition1 {
    0% { 
        opacity:0; 
        margin-bottom: calc(1.5rem + 15px);
    }
    100% {
        opacity:1;
        margin-bottom: 1.5rem; 
    }
}



.c2{
    animation-name: apparition2; 
    animation-duration: 2s; 
    transition-timing-function: ease-in;
}

@keyframes apparition2 {
    0% { 
        opacity:0;
        margin-bottom: calc(1.5rem + 15px);
    }
    10% {
        opacity:0;
    }
    100% {
        opacity:1;
        margin-bottom: 1.5rem;
    }
}



.c3{
    animation-name: apparition3; 
    animation-duration: 2s; 
    transition-timing-function: ease-in;
}

@keyframes apparition3 {
    0% {
        opacity:0;
        margin-bottom: calc(1.5rem + 15px);
    }
    20% {
        opacity:0;
    }
    100% {
        opacity:1;
        margin-bottom: 1.5rem;
    }
}



.c4{
    animation-name: apparition4; 
    animation-duration: 2s; 
    transition-timing-function: ease-in;
}

@keyframes apparition4 {
    0% {
        opacity:0;
        margin-bottom: calc(1.5rem + 15px);
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:1;
        margin-bottom: 1.5rem;
    }
}


/*BOUTON COMMANDER*/
.menu__bouton{
    display: flex;
    justify-content: center;
}