.menu{
    background-color: $colour-grey;
    margin: -3rem 0 0 0;
    padding: 0 13px 4rem 13px;
    border-radius: 50px 50px 0 0;
    position: relative;

    &__h1{
        margin: 0;
        padding: 30px 28px 5px 5px;
    }

    &__h2{
        position: relative;
        padding: 0 0 0 7px;
        margin: 2.3rem 0 0 0;

        &::after{
            content: "";
            position: absolute;
            bottom: -7px;
            left: 7px;
            width: 40px;
            border-bottom:3px solid $colour-green;
        }
    }
}

.icone_coeur{
    &-francaise{
        padding-left: 80.4px;
    }

    &-note_enchantee{
        padding-left: 13.1px;
    }

    &-delice_sens{
        padding-left: 28.8px;
    }

    &-palette_gout{
        padding-left: 19.5px;
    }
}



/*CARTES DU MENU*/
.menu__cards{
    text-decoration: none;
    color: black;
    display: block;
    background-color: #ffffff;
    border-radius: 13px;
    box-shadow: 0 2px 8px #c3c3c3;
    margin: 1.5rem 0;
    width: calc(100% - 13px);
    overflow: hidden;
    padding: 0 0 0 10px;

    &__info{
        padding-right: 28px;
        width: 100%;
        position: relative;
        padding: 12px 0;

        &::before{
            content: "";
            display: block;
            background-color: $colour-green;
            width: 95px; 
            height: 100%;
            position: absolute;
            left: 100%;
            top: 0;
        }

        &__h3{
            margin: 0 0 0.3rem 0;
            padding: 0 2.5rem 0 0;
        }
        &__div-2span{
            display: flex;
            justify-content: space-between;

            &__span-txt{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline-block;
                width: calc(100% - 50px);
            }

            &__span-tarif{
                padding-left: 0.9rem;
                width: 50px;
            }
        }
    }
}


/*BOUTON COMMANDER*/
.menu__bouton{
    display: flex;
    justify-content: center;
}