/*COMMUN*/
.coeur-plein{
    background: rgb(147,86,220);
    background: linear-gradient(355deg, rgba(147,86,220,1) 28%, rgba(255,121,218,1) 100%) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    visibility: hidden;
    width: 26px;
    opacity: 0;
    transition: opacity 0.7s ease-out;
}


.coeur-vide{
    width: 26px;
}


/*INDEX*/
.cards__figure__figcaption__coeur{
    margin: 25px 25px 0 0;
    height: 25px;
    width: 26px;
}

.icone_coeur{
    font-size: 1.5em;
}

.coeur_apparition{
    position: absolute;
    right: 26px;
    top: 204px;
}

.cards__figure__figcaption__coeur:hover .coeur-vide{
    visibility: hidden;
}

.cards__figure__figcaption__coeur:hover .coeur-plein{
    visibility: visible;
    opacity: 1;
}



/*MENU*/
.icones{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 26px;

    &.menu_icone-coeur{
        font-size: 1em;
        width: 26px;
    }
}

.span_coeur-plein{
    display: inline-block;
    position: absolute; 
    left: 0px;
    bottom: 0px;
    top: 1px;
    width: 26px;
}

.icones:hover .coeur-vide{
    visibility: hidden;
    animation-fill-mode: forwards;
}

.icones:hover .coeur-plein{
    visibility: visible;
    opacity: 1;
    animation-fill-mode: forwards;
}