/*COMMUN*/
.coeur-plein{
    background: rgb(147,86,220);
    background: linear-gradient(355deg, rgba(147,86,220,1) 28%, rgba(255,121,218,1) 100%) no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    visibility: hidden;
    width: 26px;
    opacity: 0;
    transition: opacity 0.7s ease-out;
}



/*INDEX*/
.icone_coeur{
    font-size: 1.5em;
    margin: 25px 25px 0 0;
}

.coeur_apparition{
    position: absolute;
    right: 0px;
    top: 179px;
}

.cards__figure__figcaption__coeur:hover .coeur-vide{
    visibility: hidden;
}

.cards__figure__figcaption__coeur:hover .coeur-plein{
    visibility: visible;
    opacity: 1;
}



/*MENU*/
.icones{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;

    &.menu_icone-coeur{
        font-size: 1em;
        width: 26px;
    }
}

.div_coeur-plein{
    position: absolute; 
    left: 0px;
    bottom: 0px;
    top: 4px;
    width: 26px;
}

.icones:hover .coeur-vide{
    visibility: hidden;
    animation-fill-mode: forwards;
}

.icones:hover .coeur-plein{
    visibility: visible;
    opacity: 1;
    animation-fill-mode: forwards;
}