*{
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 100%;
}

h1{
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
    font-weight: 300;
}

h2{
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

h4{
    font-family: 'Shrikhand', cursive;
    font-size: 1.2em;
    font-weight: 200;
}



        /*INDEX*/

/*Section 1 - Selection Lieu*/
.selection_lieu__recherche::placeholder{
    font-style: normal;
    font-size: 1.3em;
    font-weight: bold;
    color: $colour-blackgrey;
}

/*Section 2 - Selection Restaurant*/
.select__h2{
    font-weight: bold;
}

.select__txt{
    color: $colour-grey-text;
    font-size: 1.1em;
}

/*Section4 - Restaurants*/

/*Figcaption*/
.figure__figcaption{
    color: $colour-black;
}

.figure__figcaption__div__h3{
    font-weight: bold;
}



        /*PAGES MENU*/

.menu__h1{
    font-size: 1.6em;
    font-weight: 300;
}

.menu__h2{
    font-size: 1em;
    font-weight: 300;
    font-style: normal;
}

.menu__cards__info__h3{
    font-size: 1.1em;
}

.menu__cards__info__div-2span{
    font-size: 1em;

    &__span-txt{
    font-weight: 300;
    font-size: 0.9em;
    }

    &__span-tarif{
        font-size: 0.95em;
    }
}
