*{
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 100%;
}

/*H1*/
h1{
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
    font-weight: 300;
}

/*Section 1 - Selection Lieu*/
.selection_lieu__recherche::placeholder{
    font-style: normal;
    font-size: 1.3em;
    font-weight: bold;
    color: $colour-blackgrey;
}

/*H2*/
h2{
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

/*Section 2 - Selection Restaurant*/
.select__h2{
    font-weight: bold;
}

.select__txt{
    color: $colour-grey-text;
    font-size: 1.1em;
}

/*Section4 - Restaurants*/

/*Figcaption*/
.figure__figcaption{
    color: black;
}

.figure__figcaption__div__h3{
    font-weight: bold;
}


/*H4*/
h4{
    font-family: 'Shrikhand', cursive;
    font-size: 1.2em;
    font-weight: 200;
}