body{
    position: relative;
}

/* SECTION 2 - SELECTION RESTAURANT*/

.select{
    background-color: $colour-grey;
    padding: 2.5rem 0;

    &__h2,
    &__txt, 
    &__bouton{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__h2, 
    &__txt{
        padding: 0 0 1rem 0;
    }
}




/* SECTION 3 - FONCTIONNEMENT*/

.fonct{
    padding: 3rem 5.333vw;

    &__h2{
        padding: 0 0 1.5rem 0;
    }

    &__filtres{
        display: flex; 
        flex-direction: column;

        &__link{
            text-decoration: none;
            background-color: $colour-grey;
            padding: 1.8rem 1rem;
            margin: 0.8rem 0 0.8rem 0.9rem;
            border-radius: 25px;
            display: flex;
            align-items: center;
            box-shadow:  0 5px 12px $colour-greydarker-shadow;
            
            &:hover{
                background-color: lighten($colour-purple, 35%);
            }

            &__num{
                color: $colour-white;
                background-color: $colour-purple;
                padding: 4px 9px;
                border-radius: 50px;
                position: absolute; 
                left: 5.546vw;
            }

            &__icon{
                color: $colour-grey-text;
                margin: 0 1.2rem 0 1rem;
            }

            &__txt{
                color: $colour-black;
                font-weight: bold;
            }
        }
    }
}

.icone_filtres{
    font-size: 1.2em;
}

.fonct__filtres__link:hover .icone_filtres{
    color: $colour-purple;
}


/*SECTION 4 - RESTAURANTS*/

.rest{
    padding: 3rem 5.333vw 2rem 5.333vw;
    background-color: $colour-grey;

    &__h2{
        padding: 0 0 1.5rem 0;
    }
}


/*CARDS*/

.cards{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 20px;
    height: 252px; 
    background-color: $colour-white;
    box-shadow: 0 5px 12px $colour-greydarker-shadow;
    margin: 0 0 2rem 0;
    position: relative;

    &__figure{
        height: 175px;
        width: 100%;
        margin: 0;
        text-decoration: none;
        

        &__img{
            border-radius: 20px 20px 0 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-nouveau::after{
        content: "Nouveau";
        display: inline-block;
        padding: 5px 8px;
        background-color: $colour-green;
        color: $colour-green-txt;
        border-radius: 2px;
        position: absolute;
        right: 13px;
        top: 13px;
        font-size: 0.9em;
    }
}



/*Figcaption*/
.figure__figcaption{
    display: flex;
    justify-content: space-between;
    height: 78px;

    &__div{
        display: flex; 
        flex-direction: column;
        padding: 10px 0 0 15px;

        &__h3{
            margin: 0;
            padding: 0 0 5px 0;
        }
    }

    &__coeur{
        position: relative;
    }
}



/*MEDIA-QUERIES*/

@media (min-width: 681px) and (max-width: 800px) {

}

@media (min-width: 801px) {
    .rest__cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cards{
        width: 48.5%;
    }
}

@media (min-width: 961px) and (max-width: 1024px) {
    
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 1281px) {
    .cards{
        width: 31.5%;
    }
}