.menu{
    background-color: $colour-grey;
    margin: -3rem 0 0 0;
    padding: 0 3.466vw 4rem 3.466vw;
    border-radius: 50px 50px 0 0;
    position: relative;

    &__h1{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 30px 23px 5px 5px;
    }

    &__h2{
        position: relative;
        padding: 0 0 0 7px;
        margin: 2.3rem 0 0 0;

        &::after{
            content: "";
            position: absolute;
            bottom: -7px;
            left: 7px;
            width: 40px;
            border-bottom: 3px solid $colour-green;
        }
    }
}



/*CARTES DU MENU*/
.menu__cards{
    position: relative;
    text-decoration: none;
    color: black;
    display: flex;
    background-color: #ffffff;
    border-radius: 13px;
    box-shadow: 0 2px 8px #c3c3c3;
    margin: 1.5rem 0;
    width: calc(100% - 13px);
    max-width: 710px;
    overflow: hidden;
    opacity: 0;
    padding: 0 0 0 13px;
    animation: apparition 0.7s ease-out;
    -webkit-animation: apparition 0.7s ease-out;
    animation-fill-mode: forwards;

    &:hover .coche{
        width: 95px;
        animation-fill-mode: forwards;
    }

    &:hover .coche__check{
        opacity: 1;
        transform: rotate(360deg);
        animation-fill-mode: forwards;
    }

    &__info{
        padding-right: 28px;
        width: 100%;
        position: relative;
        padding: 12px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    
        &__h3{
            margin: 0 0 0.3rem 0;
            padding: 0 2.5rem 0 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &__div-2span{
            display: flex;
            padding: 0 13px 0 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &__span-txt{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline-block;
                width: calc(100% - 50px);
            }

            &__span-tarif{
                padding-left: 0.9rem;
            }
        }
    }
    @for $i from 1 through 10 {
        &:nth-of-type(#{$i}){
            animation-delay: $i*0.1s;
        }
    }
}


.coche{
    display: flex;
    float: right;
    background-color: $colour-green;
    transition: width 0.7s;
    width: 0px;
    height: 70px;
    justify-content: center;
    align-items: center;

    &__check{
        font-size: 1.7em;
        color: $colour-white;
        opacity: 0;
        transition: transform 0.7s, opacity 0.6s;
        transform: rotate(0deg);
    }
}

/*Animation Menus*/

@keyframes apparition {
    0% {
        opacity:0;
        transform:  translateY(15px);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}


/*BOUTON COMMANDER*/
.menu__bouton{
    display: flex;
    justify-content: center;
}