$colour-grey: #f6f6f6;
$colour-greydarker: #eaeaea;
$colour-greydarker-shadow: #c3c3c3;
$colour-blackgrey: #353535;
$colour-grey-text: #5c5c5c;
$colour-purple: #9356DC;
$colour-pink: #FF79DA;
$colour-green: #99E2D0;
$colour-green-txt: #008766;

$colour-white: #ffffff;
