$colour-primaire: #f6f6f6;
$colour-secondaire: #eaeaea;
$colour-tertiaire: #353535;
$colour-quaternaire: #9356DC;
$colour-cinq: #FF79DA;
$colour-six: #99E2D0;

$colour-white: #ffffff;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;