$colour-grey: #f6f6f6;
$colour-greyshadow: #eaeaea;
$colour-blackgrey: #353535;
$colour-purple: #9356DC;
$colour-pink: #FF79DA;
$colour-green: #99E2D0;

$colour-white: #ffffff;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;